.card-products{
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: auto;
    min-width: 230px;
    max-width: 300px;
    margin: 50px auto;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89, 73, 30, 0.16);
}

.card-products-img{
    width: 100%;
    min-width: 230px;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

.card-products-title{
    margin: 5px 15px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000;
}

.card-products-price{
    margin: 5px 15px;
    font-size: 1.2rem;
    font-weight: 900;
}

.card-btn{
    display: block;
    width: 200px;
    height: 48px;
    margin: 20px auto;
    background-color: #faf8f7;
    border: 3px solid #47cfac;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    line-height:1.8rem;
    color:#000;
    cursor: pointer;
}

button:disabled {
    background: #dddddd;
    border: 3px solid #dddddd;
}